<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!--切片缓存地址-->
    <add key="filepath" value="D:\Cache\"/>
    <!--切片缓存地址-->
    <add key="tilepath" value="http://localhost/Tile/"/>
    <!--写入文件时间间隔-->
    <add key="writefiletimespace" value="5000"/>
    <!--是否启用Access记录-->
    <add key="accessbool" value="false"/>
    <!--数据库地址-->
    <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=ServerMonitor;User Id=sa;Password=262728"/>
    <!--Access数据库地址-->
    <add key="AConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=G:\DataBase\Database.accdb;Persist Security Info=False"/>
    <!--写入数据库时间间隔-->
    <add key="timespace" value="5000"/>
    <!--是否启用Redis-->
    <add key="redisbool" value="false"/>
    <!--是否读写分离-->
    <add key="redisrewr" value="true"/>
    <!--是否启用哨兵-->
    <add key="redissentinel" value="true"/>
    <!--不读写分离-->
    <add key="rediscon" value="127.0.0.1:6379,127.0.0.1:6380,127.0.0.1:6381"/>
    <!--主缓存地址-->
    <add key="masterconn" value="127.0.0.1:6379"/>
    <!--从缓存地址-->
    <add key="slaveconn" value="127.0.0.1:6380,127.0.0.1:6381"/>
    <!--哨兵缓存地址-->
    <add key="sentinelconn" value="127.0.0.1:5000"/>
    <!--默认地图服务-->
    <add key="defaultmap" value="gaode-road"/>
    <!--文件读写权限用户-->
    <add key="iouser" value="Everyone"/>
    <!--更新最小等级-->
    <add key="updateminzoom" value="2"/>
    <!--更新最大等级-->
    <add key="updatemaxzoom" value="19"/>
    <!--nginx地址-->
    <add key="nginxurl" value="http://localhost:88/Nginxstatus"/>
    <!--服务器节点-->
    <add key="serversurl" value="http://20.10.10.46:6080/MapService.svc;http://20.10.10.45:6080/MapService.svc"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.1"/>
    <authentication mode="Forms"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="AjaxServiceBinding" crossDomainScriptAccessEnabled="true"/>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="TL.MapMonitor.ServiceState">
        <endpoint address="" behaviorConfiguration="TL.MapMonitor.ServiceStateAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="AjaxServiceBinding" name="ServiceStateService" contract="TL.MapMonitor.ServiceState"/>
      </service>
      <service name="TL.MapMonitor.DeleteHistoty">
        <endpoint address="" behaviorConfiguration="TL.MapMonitor.DeleteHistotyAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="AjaxServiceBinding" name="DeleteHistoryService" contract="TL.MapMonitor.DeleteHistoty"/>
      </service>
      <service name="TL.MapMonitor.DeleteTile">
        <endpoint address="" behaviorConfiguration="TL.MapMonitor.DeleteTileAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="AjaxServiceBinding" name="DeleteTileService" contract="TL.MapMonitor.DeleteTile"/>
      </service>
      <service name="TL.MapMonitor.ServerStatus">
        <endpoint address="" behaviorConfiguration="TL.MapMonitor.ServerStatusAspNetAjaxBehavior" binding="webHttpBinding" contract="TL.MapMonitor.ServerStatus"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="TL.MapMonitor.ServiceStateAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="TL.MapMonitor.DeleteHistotyAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="TL.MapMonitor.DeleteTileAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="TL.MapMonitor.ServerStatusAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>